<!DOCTYPE html>
<html>

<head>
    <title>Timer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav>
    <h2>FocusFlow AI</h2>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/planner">Planner</a>
        <a href="/timer">Timer</a>
    </div>
</nav>

<div class="timer-container">

    <h1>Focus Timer</h1>

    <div id="timer">25:00</div>

    <button onclick="startTimer()">Start</button>
    <button onclick="pauseTimer()">Pause</button>
    <button onclick="resetTimer()">Reset</button>
    <button onclick="finishSession()">End Session</button>

</div>

<form id="saveForm" method="POST" action="/save-session">
    <input type="hidden" name="duration" id="durationInput">
</form>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>